* {
    margin: 0;
    padding: 0;
}


html, 
body {
    font-family: "Roboti";
}

h1,
h2, 
h3, 
h4, 
h5,
h6 {
    font-family: inherit;
    color: red;
}

section {
    background-color: rgb(88, 255, 255);
}